.btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn {
  background-color: $color-blue-dark;
  color: white;
  text-align: center;
  border-radius: 16px;
  text-decoration: none;
  padding: 1rem 2rem 1rem 3rem;
  margin: 1rem;
  display: inline-block;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: 0.8rem center;
  transition: background-position 0.1s linear, transform 0.1s linear;
  &:hover {
    filter: contrast(150%);
    color: white;
    transform: scale(1.05);
    text-decoration: none;
  }
}
.email__btn {
  background-image: url('../icons/icon-email.svg');
  background-size: 1.5rem;
  &:hover {
    color: white;
  }
 }
.btn--ticket {
  background-image: url('../icons/icon-ticket.svg');
  background-size: 3rem;
  background-position: -20px center;
  &:hover {
    background-position: -5px center;
  }
}

.map__btn,
.email__btn {
  background-color: $color-blue-dark;
  color: white;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  margin: 1rem;
  display: inline-block;
  font-size: $font-S;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: 0.4rem center;
  overflow: hidden;
  transition: transform 0.1s linear;
  &:hover {
    filter: contrast(150%);
    transform: scale(1.05)
  }
}

.email__btn {
  background-image: url('../icons/icon-email.svg');
  background-size: 1.5rem;
}

.map__btn {
  background-image: url('../icons/icon-map.svg');
  background-size: 1rem;
  &:hover { 
    filter: contrast(150%);
    color: white;
  }
 }