.footer {
  background-color: $color-blue-dark;
  width: 100vw;
  @include avenir-font;
  color: white;

  .footer__text {
    @include avenir-font;
    padding: $font-L;
    font-size: $font-L;
    color: white;
    margin: 0;
    text-align: justify;
  }

  a {
    color: white;
    margin-right: 1rem;
    &:hover {
      text-decoration: none;
      padding-bottom: 2px;
      border-bottom: 2px solid white;
    }
  }
}

.orange-title {
  color: $color-orange;
}


