body {
  @include body-font;
  background-color: $color-blue-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

h3 {
  @include avenir-font;
  color: $color-blue-dark
}

p {
  line-height: 1.75;
}

.text-faded {
  color: fade-out($white, 0.7);
}

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;

  @include heading-font;
  .site-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: 800;
  }
  .site-heading-lower {
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem;
  }
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
}

.slider-container {
  overflow-x: scroll;
}

.section-heading {
  text-transform: uppercase;
  &:hover {
    border-bottom: 2px solid $color-orange;
  }
  .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
  }
  .section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
  }
}

.body__text {
  @include avenir-font;
  font-size: $font-M;
  line-height: 2;
  color: $color-blue-dark;
}

.bg-faded {
  background-color: fade-out($white, 0.15);
}

.iframe-wrapper {
  height: 100%;
  border:3px solid red;
}

.weezevent-iframe {
  width: 100vw;
  height: 100%;
}

.hero-section {
  position: relative;
  width: 100%;
  .container {
    background-color: #FFFFFF;
    
  }
}

.video-wrap {
  width: 100vw;
  height: auto;
  overflow: hidden;
  line-height: 0;
}
.hero-video {
  width: 100%;
  object-fit: contain;
}

.hero__title {
  position: absolute;
  width: 100%;
  color: #FFFFFF;
  text-shadow: 1px 2px 0 rgba(0,0,0,0.5);
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  font-size: $font-XL;
  z-index: 1;
  top: 25%;
}

.hero__text {
  @include avenir-font;
  padding: $font-XXL;
  font-size: $font-XL;
}

@media only screen and (min-width: $b-md) {
  .hero__title {
    font-size: $font-XXXL;
    text-shadow: 4px 3px 0 rgba(0,0,0,0.5);

  }
}

.home {
  &-video-section {
    width: 100vw;
    height: auto;
  }
}

.hero {
  .animated-hero {
    width: 1920px;
    height: 500px;
    border:5px solid;
  }
}

.container {
  padding: 2rem;
}
li,
p,
h1 {
  @include avenir-font;
  color: $color-blue-dark;
}

.location-page {
  .orange-title {
    font-size: $font-L;
  }
}

.header-container {
  padding: 0;
  &:first-child {
    padding-left: 10px;
  }
}

@media only screen and (min-width:$b-md) {
  .header-container {
    padding: 0;
  }
}

#mainNav {
  display: block;
  top: -20px;
  position: relative;
  top: -30px;
  .container {
    padding: 0;
    .navbar-nav {
      margin-top: 7px;
      left: 0;
      position: relative;
      .flag-button {
        position: relative;
        top: -7px;
        .lan-selected {
          .flag-icon {
            border: 3px solid #00628C;
            border-radius: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width:$b-md) {
  #mainNav {
    top: 0;
    .navbar-nav {
      left: 30px;
    }
  }
}
.header-logo {
  position: relative;
  left: 16px;
}
.site-logo-wrap {
  width: 220px;
  left: 24px;
  position: relative;
  top: 24px;
  .site-logo {
    width: 100%;
  }
}
.main-nav-container {
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  top: -30px;
  .container {
    justify-content: flex-end;
    width: 93vw;
  }
}

.page-tickets {
  .hero__text {
    width: 100%;
    h1{
      @include avenir-font;
      color: $color-orange;
      font-size: $font-L;
    }
  }
}

.navbar-dday {
  font-family: 'Nunito';
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  background-color: $color-blue-dark;
  color: white;
  font-weight: 800;
  width: 100vw;
  &__day {
    font-size: $font-XL;
    line-height: 16px;
    font-weight: 800;
  }
  &__month {
    font-size: $font-L;
    line-height: 24px;
    font-weight: 800;
  }
  &__year {
    font-size: 18px;
    line-height: 20px;
    font-weight: 800;
  }
}

@media only screen and (min-width:$b-md) {
  .header-logo {
    position: relative;
    top: 16px;
  }
  .site-logo-wrap {
    width: 220px;
    left: 0;
    .site-logo {
      width: 100%;
    }
  }

  .main-nav-container {
    justify-content: center;
    top: unset;
  }

  .navbar-dday {
    display: flex;
    height: 96px;
    top: -10px;
    width: 100px;
    gap: 2px;
  }
}

.legal-page {
  h3 {
    margin-top: 1rem;
    font-weight: bolder;
  }
  ul {
    list-style: lower-roman;
  }
}

.navbatr-toggler {
  position: relative;
  top: -25px;
}

.navbar-toggler {
  .navbar-toggler-icon {
    display: none;
  }
  .close-button {
    display: inline-block;
  }
  &.collapsed {
    .close-button {
      display: none;
    }
    .navbar-toggler-icon {
      display: inline-block;
    }
  }
}

.faq-page {
  
  .faq-list {
    list-style-type: decimal;
    padding: 0;
    margin-top: 2rem;
    p {
      margin-top: 1rem;
    }
    &__question {
      margin-top: 3rem;
      font-weight: bold;
    }

    &__answers {
      list-style-type: none;
      padding-left: 0.5rem;
      li {
        margin-top: 1rem;
      }
    }
  }
  .dress-code-caption {
    margin: 2rem 0;
  }
}

.warning {
  background-color: $color-orange-light;
  padding: 2rem;
  &__title {
    width: 100%;
    text-align: center;
    color: $color-orange;
    font-weight: bold;
  }
}

.szh-menu-button {
  border: none;
  background-color: transparent;
}
.szh-menu-container {
  max-width: 40px;
  background-color: transparent;
  .szh-menu {
    min-width: 2rem;
    left: -20px;
 }
}