.hotels-blocks {
  
  ul {
    padding: 0;
  }
  p, li {
    font-size: $font-S;
    text-align: center;
    list-style-type: none;
    text-indent: 0;
    padding: 0 2rem;
  }
  &__item {
    text-align: center;
    &:not(:last-child) {
      border-right: 2px solid $color-blue-dark;
    }
    &-title {
      @include avenir-font;
      text-align: center;
      font-weight: 800;
      font-size: $font-L;
      color: $color-blue-dark;
      margin-bottom: 1rem;
    }
  }
  
}
.extend-container {
  margin: 0 3rem;
  padding-bottom: 1rem;
}
.hotels-grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr) 3fr repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-height: 932px;
  margin-bottom: 5rem;

  ul {
    padding: 0;
  }
  p, li {
    font-size: $font-M;
    list-style-type: none;
    text-indent: 0;
    padding: 0;
  }
  &__item {
    &-title {
      @include avenir-font;
      font-weight: 800;
      font-size: $font-L;
      color: $color-blue-dark;
      margin-bottom: 1rem;
    }
  }
  .email__btn {
    position: absolute;
    bottom: 0;
  }
}