// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;


$color-blue-dark:#00628C;
$color-blue-light:#BCDDEE;
$color-orange:#FF8539;

$primary: $color-blue-dark;
$secondary: $color-blue-light;

$font-XXXXL: 4.209rem;
$font-XXXL: 3.157rem;
$font-XXL: 2.369rem;
$font-XL: 1.777rem;
$font-L: 1.333rem;
$font-M: 1rem;
$font-S: 0.75rem;
$font-XS: 0.563rem;
$font-XXS: 0.422rem;


// breakpoints
$b-xs: 0;
$b-sm: 576px;
$b-md: 768px;
$b-lg: 992px;
$b-xl: 1200px;
$b-xxl: 1400px;

// container

$cw-sm: 540px;
$cw-md: 720px;
$cw-lg: 960px;
$cw-xl: 1140px;
$cw-xxl: 1320px;